@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital@0&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  color: #373737;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
  background: rgb(247, 202, 201);
  background: -moz-linear-gradient(
    -45deg,
    rgba(247, 202, 201, 1) 0%,
    rgba(146, 168, 209, 1) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(247, 202, 201, 1) 0%,
    rgba(146, 168, 209, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(247, 202, 201, 1) 0%,
    rgba(146, 168, 209, 1) 100%
  );
  background-repeat: no-repeat;
}

#header {
  font-size: 0.8rem;
  text-align: center;
}

#header,
#survey-form {
  padding: 2rem 1.5rem;
  margin: 1rem auto;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 95%;
}

.input-feilds label {
  display: block;
}

p,
#email-label,
#number-label,
button {
  margin-top: 1.4rem;
}

select,
textarea,
input[type="text"],
[type="email"],
[type="number"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 0.1rem solid rgba(197, 197, 197, 0.639);
}

label[class="radio_checkbox"] {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
  border: 0.1rem solid rgba(197, 197, 197, 0.639);
}
/*-------------------- Hover & Focus --------------------*/
select,
textarea,
input[type="text"],
[type="email"],
[type="number"] {
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  resize: none;
}

input:hover,
select:hover,
textarea:hover,
.radio_checkbox:hover {
  outline: none;
  box-shadow: 0px 7px 1px -6px #4ea6ea;
}

input:hover,
select:hover,
textarea:hover,
.radio_checkbox:focus {
  outline: none;
  box-shadow: 0px 7px 1px -6px #4ea6ea;
}

/*-------------------- Btn --------------------*/
button {
  padding: 0.5rem;
  margin: 1.5rem auto;
  color: #4ea6ea;
  font-size: 1.2rem;
  background: #cfd8dc;
  border-radius: 0.2rem;
  border: 0;
  width: 100%;
}

button:active {
  color: #263238;
  background: #4ea6ea;
}

button:hover {
  color: #fff;
  background: #4ea6ea;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

/*-------------------- @media --------------------*/
@media screen and (min-width: 450px) {
  #survey-form,
  #header {
    width: 500px;
    padding: 2rem 2rem;
  }

  #header {
    font-size: 0.9rem;
  }
}
